<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${film.title}"></title>
        <style>
            .mainPage {
                margin: 0 auto;
                text-align: center;
                width: 50%;
            }
        </style>
    </head>

    <body>
        <div class="mainPage" >
            <h1 th:text="${film.title}"></h1>
            <p th:text="${film.tag}"></p>
            <p th:text="${film.release_year}"></p>       
            <p th:text="${film.description}"></p>
        </div>
    </body>

</html> 